<%- include ('partials/header.ejs') %>   
    <div class="container">
        <header>
            <div class="area-hamburguer">
                <div class="hamburguer"></div>
            </div>
            <div class="logo-header">
                <img src="/images/logo01.png" alt="" srcset="">
            </div>
            <ul class="navbar">
                <li><a href="/">Inicio</a></li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn"><p>Categorias <i id="iconButton" class="fa fa-sort-down" style="font-size:24px"></i></p></button>
                    <div class="dropdown-content">
                        <% categories.forEach(category => { %>
                            <a href="/category/<%= category.slug %>"> <%= category.title %></a>
                        <% }) %>
                    </div>
                </li> 
                <li><a href="#news">Sobre</a></li>
                <li><a href="#news">Contato</a></li>
            </ul>
        </header>

        <main class="read-article">
            <section class="articles">
                <%- article.body %>
            </section>
            <aside class="recommended">
                <h1>Categorias</h1>
                <ul>
                    <% categories.forEach(category => { %>
                        <li><a href="/category/<%= category.slug %>"> <%= category.title %></a></li>
                    <% }) %>
                </ul>                
            </aside>
        </main>

        <div class="creator">
            <div class="img-creator">
                <img src="/images/imagem.jpg" alt="" srcset="">
            </div>
            <div class="infos-creator">
                <h1>Paulo Henrique Leal</h1>
                <p>Estudante de Análise e Desenvolvimento de Sistemas, programador Node.js e apaixonado por tecnologia.</p>
                <p>Publicado em <%= article.date %></p>
            </div>
        </div>
        <footer>
            <p>Blog desenvolvido por <span>Paulo Henrique Leal</span></p>
            <a href="https://www.linkedin.com/in/paulo-henrique-leal/" target="_blank"><img src="/images/linkedin.png" alt="Linkedin"></a>
            <a href="https://api.whatsapp.com/send?phone=5511963164212" target="_blank"><img src="/images/whatsapp.png" alt="Whatsapp"></a>
            <a href="mailto:devpauloleal@gmail.com" target="_blank"><img src="/images/gmail.png" alt="Gmail"></a>
        </footer>
    </div>
<%- include('partials/footer.ejs') %>